<!DOCTYPE html>
<meta http-equiv="refresh" content="2">
<html>
  <head>
    <title>Messages Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Article Tracking</h1>
    <table>
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>RF Tag No.</th>
          <th>Article Name</th>
          <th>Status</th>
          <th>Article Description</th>
        </tr>
      </thead>
      <tbody>
        {% for message in messages %}
        <tr>
          <td>{{ message.time_stamp }}</td>
          <td>{{ message.article_id }}</td>
          <td>{{ message.article_name }}</td>
          <td>{{ message.stage_status }}</td>
          <td>{{ message.article_description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h1>Progress Bar Stage 1</h1>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress.one }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.one }}%;">
            {{ progress.one }}%
        </div>
    </div>
    <h1>Progress Bar Stage 2</h1>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress.two }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.two }}%;">
            {{ progress.two }}%
        </div>
    </div>
    <h1>Progress Bar Stage 3</h1>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress.three }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.three }}%;">
            {{ progress.three }}%
        </div>
    </div>
  </body>
  <script>
    {% if errors %}
      alert("{{ errors }}");
    {% endif %}
  </script>
</html>
