<!DOCTYPE html>
<meta http-equiv="refresh" content="5">
<html>
  <head>
    <title>Messages Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Article Tracking</h1>
    <table>
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>RF Tag No.</th>
          <th>Article Name</th>
          <th>Status</th>
          <th>Article Description</th>
        </tr>
      </thead>
      <tbody>
        {% for message in messages %}
        <tr>
          <td>{{ message.timestamp }}</td>
          <td>{{ message.articleId }}</td>
          <td>{{ message.articleName }}</td>
          <td>{{ message.status }}</td>
          <td>{{ message.articleDesc }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h1>Progress Bar Stage 1</h1>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress.one }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.one }}%;">
            {{ progress.one }}%
        </div>
    </div>
    <h1>Progress Bar Stage 2</h1>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress.two }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.two }}%;">
            {{ progress.two }}%
        </div>
    </div>
    <h1>Progress Bar Stage 3</h1>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress.three }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.three }}%;">
            {{ progress.three }}%
        </div>
    </div>
  </body>
  <script>
    var num_messages = {{ num_messages }};
    setInterval(function() {
      fetch('/messages')
        .then(response => response.json())
        .then(data => {
          if (data.length != num_messages) {
            window.location.reload();
          }
        })
        .catch(error => console.error(error));
    }, 5000);
  </script>
</html>
